
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
}

body, html {
    height: 100%;
    width: 100%;
}

.editor {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.page-header {
    display: flex;
    flex-direction: row;
    width: 100%;
    min-height: 75px;
    padding: 0 1em 0 1em;
    background-color: rgb(226,69,16);
    color: rgb(250,240,230); /* linnen */
}

.page-header .banner {
    align-self: center;
    text-align: right;
    flex-grow: 1;
}

.index {
    flex-grow: 1;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: flex-start;
    width: 100%;
}

.index .tile {
    height: 200px;
    width: 330px;
    background-color: bisque;
    margin: 1rem;
}

.index .tile._2x1 {
    width: 600px;
  }

.page-footer {
    width: 100%;
    min-height: 10%;;
    color: rgb(250,240,230); /* linnen */
    background-color: rgb(65,74,76); /* outer space */
    padding: 0.5em 0 0 1em;
}