@font-face {
    font-family: 'robotolight';
    src: url('fonts/roboto-fontfacekit/roboto_light_macroman/Roboto-Light-webfont.eot');
    src: url('fonts/roboto-fontfacekit/roboto_light_macroman/Roboto-Light-webfont.eot?#iefix') format('embedded-opentype'),
    url('fonts/roboto-fontfacekit/roboto_light_macroman/Roboto-Light-webfont.woff') format('woff'),
    url('fonts/roboto-fontfacekit/roboto_light_macroman/Roboto-Light-webfont.ttf') format('truetype'),
    url('fonts/roboto-fontfacekit/roboto_light_macroman/Roboto-Light-webfont.svg#robotoregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'fric-frac';
    src:  url('fonts/fric-frac.eot?j3d7so');
    src:  url('/css/fonts/fric-frac.eot?j3d7so#iefix') format('embedded-opentype'),
      url('/css/fonts/fric-frac.ttf?j3d7so') format('truetype'),
      url('fonts/fric-frac.woff?j3d7so') format('woff'),
      url('fonts/fric-frac.svg?j3d7so#fric-frac') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: block;
  }
  

html {
     width: 100%;
 }
body {
    width: 100%;
 }

.editor {
    display: flex;
    flex-direction: column;
    padding: 0.7rem 0.7rem 0 0.7rem;
    width: 100%;
    min-height: 100%;
    font-family: "Segoe UI", robotolight, Serif;
    background-color: rgb(250,235,215); /* Antique white mocassin */
}

.page-header {
    display: flex;
    flex-direction: row;
    background-color: rgb(226,69,16);
    height: 10rem;
    width: 100%;
    padding: 0 1rem 0 1rem;
}

.page-header .banner {
    align-self: center;
    flex-grow: 1;
    text-align: right;
    font-size: 1.3rem;
    color: rgb(250,240,230);
}

.index {
    flex-grow: 1;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;
    height: 91%;

    background-color: rgb(244,240,236); /* Isabelline */
}

.index .tile {
    width: 300px;
    height: 250px;
    margin: 1rem;
    background-color: rgb(255, 235, 205); /* Blanched Almond */
    background-color: rgb(255, 228, 205); /* bisque*/
    background-color: rgb(245, 245, 220); /* beige */
}



.index .tile:nth-child(4) {
    flex-grow: 1;
}

.page-header .control-panel {

}

.page-footer {
    width: 100%;
    height: 10rem;
    color: rgb(250,240,230); /* linnen */
    background-color: rgb(65,74,76); /* outer space */
}

.editor .command-bar {
    background-color: rgb(226,69,16);
    display: flex;
    flex-direction: row;
    height: 7%;
}

.editor .command-bar .tile {
    display: block;
    color: white;
    background-color: #3b444b; /*arsenic*/
    text-align: center;
    border: 0;
    border-left: 4px solid #fff;
    font-size: 3.5vh;
    height: 100%;
    width: 3.5rem;
 }

.editor .command-bar a.tile {
    text-decoration: none;
}

.editor .command-bar .tile:hover {
    color: rgb(226,69,16);
    cursor: pointer;
}



.file-manager {
    width: 25%;
    padding: 0.7rem 0.7rem 0 0;
}

button.link {
    -moz-user-select: text;
    background: none;
    border: none;
    color: rgb(226,69,16);
    cursor: pointer;
    font-size: 1.1em;
    margin: 0;
    padding: 0 0.2em 0 0;
    text-align: left;
    width: auto;
}

button.link:hover span {
    text-decoration: underline;
}

.file-list td {
    border: none;
}

.file-list .tile {
    color: #3b444b; /*arsenic*/
    background-color: rgb(255, 250, 240);

    text-align: center;
    border: 0;
    line-height: 1.2em;
    font-size: 3vh;
    width: 2em;
    height: 7%;
    overflow: hidden;
}

.file-list a.tile {
    text-decoration: none;
}

.file-list .tile:hover {
    color: rgb(226,69,16);
    cursor: pointer;
}